.menu_wrapper {
	background:#4a4c4b;
}

#menu li a {
	color:#b8bab9;
	text-shadow:0 1px 1px #000;
}

#menu li.current-menu-item a, #menu li.current_page_item a, #menu li.current-menu-parent a, #menu li.current_page_parent a, #menu li a.selected, #menu li a:hover {	
	background:url(images/bmenutip.png) bottom center no-repeat;
}
#menu li li a, #menu li li a.selected, #menu li li a:hover {
	color:#cbb0f1;
}
#menu .ddsmoothmenu li > ul {
	background:#4a4c4b;
}
#menu .ddsmoothmenu li > ul li > ul {
	background:#4a4c4b;
}
#menu .ddsmoothmenu li li a:link, #menu .ddsmoothmenu li li a:visited {
	color: #fff;
	background:url(images/menusep-gray.png) bottom repeat-x
}
#menu .ddsmoothmenu li li:last-child a:link, #menu .ddsmoothmenu li li:last-child a:visited {
background:none;
}
#menu .ddsmoothmenu li li a{
background:url(images/menusep-gray.png) bottom repeat-x;
}
#menu .ddsmoothmenu li li a.selected, #menu .ddsmoothmenu li li a:hover {
	color:#b8bab9;
	background:url(images/menusep-gray.png) bottom repeat-x
}
#menu li.current-menu-item a:hover, #menu li.current-menu-parent a:hover, #menu li.current_page_parent a:hover, #menu li a:hover.selected {
	color:#fff;
}
#menu .ddsmoothmenu li li {
	color:#fff;
}
#menu li.current_page_item a {
	color:#fff;
}

/*top search
====================================================*/


/* Slider 
==========================================*/
.slider-wrapper {
	border-bottom:1px solid #707372;
}
/* #Slider Style Flexslider
================================================== */

/* Direction Nav */
.flex-direction-nav li a {
	background:#515156;
	color:#fafafa;
}
.flex-direction-nav li a:hover {
	background: #4a4c4b!important;
}

.flex-direction-nav li .disabled {
	opacity: .3;
	filter:alpha(opacity=30);
	cursor: default;
}
/* Control Nav */
 .flex-control-nav li a {
	background:url(images/spgray.png) no-repeat;
	
}


/*Feature Content
================================================*/
.feature-content h1 a:hover {
	color:#4a4c4b;
}
.feature-content-inner .circle {
	background:#4a4c4b;
}
.feature-content-inner .circle img {
	background:#4a4c4b;
}
.feature-content-inner .circle img:hover {
	color:#b8bab9;
}
.feature-content-inner .read-more {
	background:url(images/readmoregray.png) center no-repeat;
}
.feature-content .read-more:hover {
	color:#b8bab9;
}

/*Feature-post
==================================================*/
.feature-post .feature-post-inner h1 a:hover {
	color:#4a4c4b;
}

/* #testimonial slider
================================================== */
.testimonial .pagination li a {
	background-image:url(images/tpgray.png);
	
}

#slides_testimonial .next, #slides_testimonial .prev {
background:#515156;
}
#slides_testimonial .next:hover, #slides_testimonial .prev:hover {
	background: #4a4c4b!important;
}


/*sinupform 
====================================================*/
.signupform input[type="text"]:focus {
	border:1px solid #4a4c4b;
}
.signupform input[type="submit"]:hover {
	border:solid 1px #4a4c4b;
}


/*Blog Page
===================================================*/
.content-bar .post .post_title a:hover {
	color:#4a4c4b;
}

.content-bar .post .post_content .read_more {
	
	color:#4a4c4b;
	
}

.content-bar .post .post_content .read_more:hover {
	opacity:0.5;
	color:#4a4c4b;
}

.content-bar .post .post_meta a {
	color:#4a4c4b;
}
.content-bar .post .post_meta a:hover {
	opacity:0.5;
	color:#4a4c4b;
}

.content-bar .post .post_meta .post_comment a {
	color:#4a4c4b;
}

/*Sidebar 
====================================================*/
.sidebar ul li a:hover {
	color:#4a4c4b;
}


/*Footer 
================================================*/


.footer .widget_inner .sitelink a:hover {
	color:#4a4c4b;
}
.footer .widget_inner a:hover {
	color:#4a4c4b;
}

.footer ul li a:hover {
	color:#4a4c4b;
}


